<div class="header">
    <a routerLink="/">
        <h2>SECOND CHANCE</h2>
    </a>

    <div class="main">
        <ul>
            <li ><a routerLink="/">Home</a></li>
            <!-- <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars"></i>
            </a> -->
            <!-- <li routerLinkActive="active"><a routerLink="/dictionary">VIN Dictionary</a></li>
            <li routerLinkActive="active"><a routerLink="/cars">All Cars</a></li> -->
           
        </ul>
    </div>
    <div class="auth">
        <ul>
            <button class="dropbtn">Profile. . .</button>
           
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
          
             
        </ul>
    </div>

    
</div>